{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p style='text-align:center; color:red;' {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}

<p>
    Kia ora, ko Hedley ahau.
</p>
<p>
    I made this website so that when I learn new things, I can put them
    somewhere other than inside my head. These things are usually to do with
    R or Python in vaguely data science-adjacent contexts, and everything
    I write is from me, not my employers (past or present). (Unless I get
    something wrong, in which case it's definitely not my fault and you
    should blame anyone but me. Like, the internet or something.)
</p>
<p>
    If you'd like to get in touch, please use the form below.
</p>

<form action='/contact/' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <!-- load recaptcha scripts -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey={{ RECAPTCHA_SITE_KEY }}></div>
    <br/>
    <input type="submit" value="Submit">
</form>

{% endblock %}